html,
body {
    margin: 0;
    height: 100%;
    background-color: rgb(248, 247, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#statusDisplay {
    height: 30px;
    width: 100%;
    background-color: inherit;
    margin-bottom: 60px;
    text-align: center;
    font-size: 1.75rem;
}

#scoreContainer {
    display: flex;
    width: 600px;
    height: 60px;
    margin-bottom: 60px;
    justify-content: space-between;
}

.player {
    width: 280px;
    background-color: inherit;
    border-radius: 20px;
    border: solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
}

#restart {
    height: 40px;
    width: 200px;
    margin-top: 80px;
    background-color: inherit;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

#difficulties {
    background-color: inherit;
    margin-bottom: 60px;
    font-size: 1.5rem;
    border-bottom: 3px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: 0px;
    cursor: pointer;
}

option {
    background-color: inherit;
}

table {
    border-collapse: collapse;
    border-style: hidden;
    height: 600px;
    width: 600px;
    font-size: 10rem;
    text-align: center;
    table-layout: fixed;
}

td {
    border: 10px solid black;
    width: 200px;
    height: 200px;
    user-select: none;
}

.score {
    padding: 20px;
}

.blur {
    filter: blur(4px);
}

.click {
    cursor: pointer;
}

.active {
    border: solid 6px
}